{% extends "base.html" %}

{% block content %}
    <h1>Поиск</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.city_start.label }}<br>
            {{ form.city_start(class="form-control") }}<br>
            {% for error in form.city_start.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.city_end.label }}<br>
            {{ form.city_end(class="form-control") }}<br>
            {% for error in form.city_end.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(class="form-control") }}<br>
            {% for error in form.time.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-secondary") }}</p>
        <div>{{ message }}</div>
    </form>  
    <table class="table">
        <thead class="table-secondary">
        <tr>
            <th scope="col">Plane tickets</th>
            <th scope="col">Hotels</th>
            <th scope="col">entertainments</th>
        </tr>
        <tbody class="table-primary">
        <tr>
            <td>
                {% for item in tickets%}
                    <div>{{item}}</div>
                {% endfor %}
            </td>
            <td>
                {% for item in hotel%}
                    <div>{{item}}</div>
                {% endfor %}
            </td>
            <td>
                {% for item in enter%}
                    <div>{{item}}</div>
                {% endfor %}
            </td>
        </tr>
        </tbody>
        </table>
        <a class="btn btn-secondary" href="/history" >История запросов</a>
{% endblock %}